<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <app-quote-form></app-quote-form>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>View Quotes</h3>
                <ul>
                    <div *ngFor='let quote of quotes;let i = index'>
                        <li>Posted on {{quote.completeDate|date|uppercase}}</li> 
                        <button (click)='toggleDetails(i)'>View</button>
                        <app-quote-message *ngIf='quote.showMessage' [quote]='quote' (isComplete) = 'deleteQuote($event,i)'>
                            
                        </app-quote-message>
                    </div>
                </ul>
            </div>
            
        </div>
    </div>
    
  
</body>
</html>